html, body {
    height: 100%;
    width: 100%;
  }

body {
    background: #bdc3c7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#gameArea {
    max-width: 100%;
    display: grid;
    justify-items: center;
    padding: 75px 10px;
}
#compChoices, #playerChoices{
    display: flex;
    max-width: 100%
}

input {
    margin: 20px;
}
span {
    text-align: center;
    justify-items: center;
    margin: 5px;
    font-family: 'Rowdies',;
}
#newGame, #select, #newSeries {
    margin: 10px;
}
#title {
    font-family: 'Rowdies', Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 100px;
    margin: -10px;   
}

p {
    font-family: 'Rowdies', Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 10px;
    margin-top: -30px;
}
#choose{
    font-size: 30px;
}
span {
    font-family: 'Rowdies', Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 20px;
}
#scoreBoard {
    padding-top: 75px;
}
#compBoard{
    outline: solid black 1px;
    height: auto;
    width: auto;
    float: left;
    padding: 10PX 10px 30px 10px;
    
    margin: 10px;
}
#playerBoard {
    outline: solid black 1px;
    height: auto;
    width: auto;
    float: left;
    padding: 10px 17px 30px 17px;
    
    margin: 10px;
}
#series {
    margin: 0px 0px 0px 50px;
}
#compScore {
    padding: 15px;
    font-size: 35px;

}
#playerScore {
    padding: 10px;
    font-size: 35px;
}
/* Smartphones (portrait and landscape) ----------- */
